@import url("http://fonts.cdnfonts.com/css/harry-potter");
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
:root {
  --color-1: #e5e5e5;
  --color-2: #d6d5d5;
  --color-5: #203665;
  --color-4: #ffc543;
  --color-3: #4e0d12;
  --color-6: #3b464d;
  --color-7: #1b1d19;
  --font-1: "myriad-pro", sans-serif;
  --font-2: "Harry Potter", sans-serif;
  --font-3: "Urbanist", sans-serif;
  --font-4: "Calligraffitti", cursive;
}

h1 {
  color: var(--color-3);
  font-family: var(--font-3);
  font-size: 4.5vw;
  margin-bottom: 2px;
}
header h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-4);
  color: var(--color-7);
}
.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

button.filter,
#search {
  border: 1.5px solid var(--color-6);
  background-color: var(--color-1);
  margin: 5px;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

#columns {
  display: flex;
  gap: 50px;
}

#sec1 {
  width: 70%;
}

#sec2 {
  width: 30%;
}

#nr_box {
  background-color: var(--color-2);
  margin-top: 170px;
  padding: 20px;
  border: 1px solid var(--color-3);
}

html {
  background-color: var(--color-1);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

[data-action] {
  cursor: pointer;
}

.filter {
  padding: 5px;
}
.filter:hover {
  scale: 98%;
}

#gryf:focus {
  border: 1.5px solid var(--color-4);
  background-color: var(--color-3);
  color: var(--color-4);
}

#gryf:hover {
  border: 1.5px solid var(--color-4);
  background-color: var(--color-3);
  color: var(--color-4);
}

#slyt:focus {
  border: 1.5px solid var(--color-2);
  background-color: #003626;
  color: var(--color-2);
}

#slyt:hover {
  border: 1.5px solid var(--color-2);
  background-color: #003626;
  color: var(--color-2);
}

#huff:focus {
  border: 1.5px solid var(--color-6);
  background-color: var(--color-4);
  color: var(--color-6);
}

#huff:hover {
  border: 1.5px solid var(--color-6);
  background-color: var(--color-4);
  color: var(--color-6);
}

#rav:focus {
  border: 1.5px solid var(--color-4);
  background-color: var(--color-5);
  color: var(--color-4);
}
#rav:hover {
  border: 1.5px solid var(--color-4);
  background-color: var(--color-5);
  color: var(--color-4);
}

#expelled_filter:focus {
  background-color: var(--color-2);
}
#all_filter:focus {
  background-color: var(--color-2);
}

/*---------KLASYYYYYYY ---------
Jak zrobić zeby przycisk byl podswiertlony jak klikniesz 

*/

/*---------TABLE ---------*/

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

tr th {
  text-align: left;
  font-weight: 200;
  padding: 20px;
}

#list tbody tr td {
  padding: 10px;
  margin-right: 15px;
  border-bottom: 2px solid var(--color-2);
}

#sorting th.sortby {
  color: var(--color-3);
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↑";
}
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↓";
}
td[data-field="prefect"] {
  text-align: center;
  font-size: 2vw;
  color: var(--color-3);
}

td[data-field="prefect"]:hover {
  cursor: pointer;
  font-weight: 600;
}

td[data-field="first-name"]:hover {
  cursor: pointer;
  color: var(--color-3);
  font-weight: 600;
}

/* #list tbody tr:nth-child(2n + 1) td {
  background-color: var(--color-2);
} */

/* -------------POP UP STYLING---------------- */

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  background-color: var(--color-3);
  border: 3px solid var(--color-2);
  color: var(--color-2);
  border-radius: 25px;
}

#close:hover {
  scale: 90%;
  cursor: pointer;
}

#close {
  font-size: 2vw;
}

#row1 {
  display: flex;
  gap: 40px;
  padding: 20px 20px 5px 20px;
}

#house_flex {
  display: flex;
  gap: 10px;
}

.crest_img {
  max-width: 12%;
}

.student_image {
  max-width: 100%;
  margin-right: 10px;
  border-radius: 25%;
  border: 2px solid var(--color-2);
  margin: 5px;
}
#popup .name,
.surname,
.house {
  text-align: left;
  font-family: var(--font-4);
  font-weight: 900;
  color: var(--color-2);
  margin: 0;
}
#popup .house {
  margin: 1px;
  font-family: var(--font-4);
  font-weight: 900;
  color: var(--color-4);
}

#insideflex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#row2 {
  display: flex;
  padding-left: 30px;
  gap: 30px;
}

#row2 p {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

#row2 button {
  border: 1.5px solid var(--color-2);

  background-color: transparent;
  padding: 3px;
  width: 80px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-4);
}

#expell {
  border-radius: 25px;
}

#squad {
  display: block;
  border-radius: 15px;
  margin-top: 10px;
}
/* -------------WARNING STYLING---------------- */

.prefect_warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  background-color: var(--color-3);
  border: 3px solid var(--color-2);
  color: var(--color-2);
  border-radius: 25px;
}
.prefect_warning p {
  text-align: center;
}
.prefect_warning h2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: -15px;
}
.prefect_warning #removeother {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 1.5px solid var(--color-6);
  background-color: var(--color-1);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

.prefect_warning .close_warning {
  display: block;
  margin-right: 10px;
  margin-left: auto;
  border: 0;
  background-color: var(--color-3);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: var(--color-2);
  font-size: 2vw;
}
.prefect_warning .close_warning:hover {
  scale: 90%;
  cursor: pointer;
}

/* TRY AGAIN */

.close_warning {
  background-color: transparent;
  border: 1px solid #ffe180;
  position: absolute;
  border-radius: 50%;
  right: 0.3em;
  top: 0.3em;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.close_warning:hover {
  background-color: #181818;
}
.dialog {
  border-radius: 12px;
  padding: 2em;
  background-color: rgb(46, 46, 46);
  position: relative;
}
.warning {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
